.section-5 {
    overflow: hidden;
    height: 432px;
    padding: 0px 0 22px 0;
    background-image: linear-gradient(to bottom, #1a1a1a, #000a6b 99%);
    font-weight: 600;
    font-size: 28px;
    color: #ffffff;
  }
.s5-testimonial-container {
    color: #fff;
    margin: 0;
    padding: 25px 0px;
    position: relative;
    height: 294px;
    
}

.s5-testimonial {
    height: 250px;
    overflow:hidden;
    
}

.s5-user {
    align-items: center;
    display: flex;
    justify-content: center;
}

.s5-user .s5-user-image {
    height: 75px;
    object-fit: cover;
    width: 75px;
}

.s5-user .s5-user-details {
    width: 75px;
    margin-left: 10px;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    color: #010a68;
    background-color: #fff;
}

.s5user .s5-username {
    margin: 0;
}

.s5-user .s5-role {
    font-weight: normal;
    margin: 10px 0;
}

.s5-progress-container {
    height: 8px;
    background-color: #d8d8d8;
    margin: 20px 32px 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.s5-progress-bar {
    background-color: #21db04;
    height: 100%;
    width: 0;
    animation: grow 2s linear infinite;
    transform-origin: left;
    
}

@keyframes grow {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .s5-testimonial-container {
        padding: 20px 0;
        height: 290px;
        margin: 0 auto;
        overflow: hidden;
        font-size: 21px;
        font-weight: 500;
    }

    .fa-quote {
        display: none;
    }
    .s5-progress-container{
        width: inherit;
        height: 8px;
        margin-top: 10px;
        margin: 10px 0px ;
    }
    .section-5{
        height: 420px; /*394px */
        padding: 10px 0 10px 0;
        font-size: 18px;
        font-weight: normal;
    }
}